<h3>Buscar por región <small> {{ regionActiva | titlecase }} </small></h3>
<hr />

<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">

        <!-- Primera forma de usar clases condicionales -->
        <!-- [class.btn-primary] = "region === regionActiva" -->

        <!-- Primera forma de usar clases condicionales -->
        <!-- 

            [ngClass]="{
                    'btn-primary': region === regionActiva,
                    'btn-outline-primary': region !== regionActiva 
                }"

         -->

        <!-- La tercera forma es la que ya esta implementada -->

        <button *ngFor="let region of regiones"
                class="btn btn-outline-primary" 
                [ngClass]="{
                    'btn-primary': region === regionActiva,
                    'btn-outline-primary': region !== regionActiva 
                }"
                (click)="activarRegion( region )" >
            {{ region }}
        </button>
    </div>
</div>
